/* Globals rulesets */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */


body {
    background-color: #f4f4f4;
    font-family: 'Inter', Arial, Helvetica, sans-serif; 
    font-size: 16px;
    padding: 0;
    line-height: 1.5;
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Non-global rulesets */
.container {
    margin: auto;
    overflow: hidden;
    width: 80%;           
}

nav {
    float: right;
    margin-top: 20px;
}

header {
    background: #35424a;
    border-bottom: #e8491d 3px solid;
    color: #fff;
    min-height: 70px;
    padding-top: 30px;
}

header a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover {
    color: #ccc;
    transition: all 0.25s ease-in-out;
}

/* header ul {
    margin: 0;
    padding: 0;
} */

header li {
    display: inline;
    float: left;
    padding: 0 20px 0 20px;
}

header #branding {
    float:left;
}

.highlight {
    color: #e8491d;
    font-weight: 800;
}

#showcase {
    background: url(../images/sc.jpg) no-repeat -350px -650px;
    color: #fff;
    min-height: 450px;
    text-align: center;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
    margin-top: 100px;
}

#showcase p {
    font-size: 24;
}

#newsletter {
    background: #35424a;
    color: #fff;
    padding: 15px 15px 15px 0;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 25px;
}

#newsletter input[type="email"] {
    border: none;
    border-radius: 2.5px;
    font: inherit;
    font-size: 12px;
    height: 25px;
    margin: 0 10px;
    padding: 0 5px;
    width: 250px
}

#newsletter input:focus {
    /* outline: none; */
    outline: 3px solid #e8491d;
    transition: all 0.25s ease-in-out;
}

.button1 {
    background: #e8491d;
    border: none;
    border-radius: 2.5px;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    height: 25px;
    padding: 0 20px;
}

.button1:hover {
    background: #c03c18;
    color: #ccc;
    transition: all 0.25s ease-in-out;
}

/* Styling for the boxes */
#boxes {
    margin: 10px 0 0 0;
}

.container-box {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 80%;
    margin: auto;
}

.box {
    /* float: left; */
    text-align: center;
    width: 30%;
    padding: 10px;
}


/* Hover animation
.box:hover {
    /* transform: translateY(-5px); /* Raise the card by 5 pixels */
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); Add a stronger box shadow */
/* } */

.box img {
    margin-top: 5px;
    width: 90px;
}

/* @media {
    .container-box {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        width: 80%;
        margin: auto;
    }
    
    .box {
        /* float: left;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
} */

/* Sidebar rulesets */
#main-col {
    float: left;
    width: 65%;
}

#sidebar {
    float: right;
    width: 30%;
}

footer {
	background-color: #e8491d;
	color: #fff;
	margin-top: 10px;
	padding: 20px;
	text-align: center;
}